body {
  background:url(https://www.tripsavvy.com/thmb/bD0Xp5AuV2PwxSuxNQxgufP5BTs=/3863x2577/filters:fill(auto%2C1)/cityscape-of-the-los-angeles-skyline-at-dusk-los-angeles-california-united-states-of-america-north-america-530065311-57924bb33df78c17348ace09.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
div {
  display: inline-block;
  margin: 0;
}
img {
height: 300px;
  width: 300px;
}
@keyframes recolor {
  to
  {background: #CDD9DF;}
}
button {
  border-radius: 2px;
  margin: 0;
  animation: recolor 5s infinite alternate;
}
#btn1 {
  background: #6F8D9D;
  color: #fff;
}
#btn2 {
  background: #69818E;
  color: #fff;
}
