body {
  background-image: url('https://www.pexels.com/photo/aerial-photo-of-beach-3233371/');
  background-repeat: no-repeat;
  background-size: cover;
}


div, img {
  height: 12em;
  width: 12em;
  display: inline-block;
  margin: 1em;
}



#purple {
  background: purple;
}
#blue {
  background: blue;
}


@keyframes recolor {
  to {background: yellow;}
}
div {
  animation: recolor 5s infinite alternate;
}

P {
  font-family: "Raleway";
}
