body {
    background:url('https://images.pexels.com/photos/9982086/pexels-photo-9982086.jpeg')
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachement: fixed;
}

div {
    display: inline-block;
    margin: 0;
}

img {
    height:15em;
    width: 15em;
    margin: 1em;
}

@keyframes recolor {
    to
    {background: pink;}
}

button {
    border-radius: 10px;
    margin: 0;
    animation: recolor 5s infinite alternate;

}

#btn1 {
    background: #3d33ff;
    color: #fff;
}
#btn2 {
    background: red;
    color: white;
}
