body {
    background:url('https://cdn.myportfolio.com/3b818013-8e64-4e3d-b2e3-a50f8f329e2f/b8827bd8-756e-4b5c-8f70-1881acf1f8cc_rw_1920.jpg?')
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachement: fixed;
}
