body {
  background: url("https://images.pexels.com/photos/4397898/pexels-photo-4397898.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover:
}

div, img {
  height: 12em;
  width: 12em;
  display: inline-block;
  margin: 1em;
}
 
#blue {
  background: blue;
}
#green {
  background: green;
}

@keyframes recolor {to
  {background: yellow;}
}div
{
  animation: recolor 5s infinite alternate;
}
