
div, img{
  height:12em;
  width: 12em;
  display: inline-block;
  margin: 1em;
}

#blue {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid #555;
  background: blue;
}


#green {
	width: 50px;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid #555;
}


@keyframes recolor {to 
  {background: gray;} 
}
div {
  animation: recolor 5s infinite alternate;
  
}

body {
  background-image: url('https://images.pexels.com/photos/3374210/pexels-photo-3374210.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

  
body {
    Color: white;
}
