body {
  background-image: url("https://images.pexels.com/photos/1693095/pexels-photo-1693095.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    bacground-position: right top:
    background-attachment: fixed:
    }
{
  height: 12em;
  width: 12em;
  display: inline-block;
  Margin: 1em;
}
#blue {
  background: #16537e;
}
#gray {
  background: #bcbcbc;
}

#keyframes recolor { to
  {background: pink;}
}div
{
  animation: recolor 5s infinite alternate;
}

