body {
  background-image: url("https://images.pexels.com/photos/53594/blue-clouds-day-fluffy-53594.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

div {
  display: inline-block;
  }
  
img {
  height: 15em; 
  width: 15em; 
  visibility: hidden;
  margin: 1em;
 }

 @keyframes recolor {
   to
    {background: pink;}
 }

 button {
  border-radius: 10px;
  animation: recolor 5s infinite alternate;
  }
  
 #btn1 {
  background: #3d33ff;
  color: #fff;
 }
 
 #btn2 {
  background: red;
  color: white;
 }
 

 
  
