body {
  background-image: url('https://images.pexels.com/photos/1227513/pexels-photo-1227513.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Homeade Apple'; 
}

div, img {
  height: 12em;
  width: 12em;
  display: inline-block;
  margin: 1em;
}

#pink {
  background: pink;
}

#blue {
  background: #b3b3ff 
}

#butterfly {
  background: #ff80ff
}


@keyframes recolor {
  to{background: orange;}
}

div {
  animation: recolor 5s infinite alternate;
}

p {
  font-family: "Homeade Apple";
}
