body{ 
  background-image: url("https://player.vimeo.com/external/527782059.sd.mp4?s=1a69c4ff1019a819740de30b9a09331cd6808149&profile_id=165&oauth2_token_id=57447761");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
}

div, img{
height: 12em;
width: 12em;
display: inline-block;
margin: 1em;
}

#purple{background: purple;}
#red{background: red;}
#tulips{background: #ff1aff;}

@keyframes recolor{
  to{background: blue;}
}
div{
  animation: recolor 5s infinite alternate;
}

p{
font-family: 'Raleway';
}
