body{ 
  background-image: url("https://images.pexels.com/photos/9063025/pexels-photo-9063025.jpeg");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
}

div, img{
height: 12em;
width: 12em;
display: inline-block;
margin: 1em;
  position: relative;
}

#purple{background: purple;}
#red{background: red;}
#tulips{background: #ff1aff;}

@keyframes recolor{
  from {top: 0px;}
  to {background: blue; top: 200px;}
  
 
}
div{
  animation: recolor 5s infinite alternate;
}

p{
font-family: 'Raleway';
}
