}
body 
  background-image: url("https://images.pexels.com/photos/9858744/pexels-photo-9858744.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
  background-attatchment: fixed;
}
div, img {
  height:12em;
  width: 12em;
  display: inline-block;
  margin:1em;
}
#blue {
  background: blue;
}
#green {
  background: green;
}
@keyframes recolor { to
  {background: yellow;}
  } div
  {
    animation: recolor 5s infinite alternate;
  
