body {
  background-image: url('https://images.pexels.com/photos/53816/pexels-photo-53816.jpeg);
    
    
div, img {
  height: 12em;
  width: 12em;
  display: inline-block;
  margin: 1em;
}

#blue {
  background: blue;
}

#green {
  background: green;
  }
  
  #white {
    background: #ff4dc4;
  }
  
  @keyframes recolor {
    to{background: yellow;}
  }
  div {
    anitation: recolor 5s infinite alternate;
  }
  
  p {
    font-family: "Raleway";
  }
