div, img {
  height: 12em;
  width: 12em;
  display: inline-block;
  margin: 1em;
}
#blue {
  background: blue;
}
#red {
  background: red;
}
@keyframes recolor{ to
  {background: green;}
}div
{
  animation: recolor 5s infinite alternate;
}

