body {
    background:url(https://images.pexels.com/photos/6387868/pexels-photo-6387868.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   }

div, img {
    height: 10em;
    width: 15em;
    display: inline-block;
    margin: 3em;
}

#purple {
    background: #4d004d;
}
#pink {
    background: #ff0066;
}

@keyframes recolor { to
  {background: #009999;}
} div
{
  animation: recolor 3s infinite alternate;
}
