div, img {
    height: 20em;
    width: 30em;
    display: inline-block;
    margin: 5em;
}

#purple {
    background: #4d004d;
}
#pink {
    background: #ff0066;
}

@keyframes recolor { to
  {background: #009999;}
} div
{
  animation: recolor 3s infinite alternate;
}
