body {
  background-image: url("https://images.pexels.com/photos/3061171/pexels-photo-3061171.jpeg")
}  

div, img {
  height: 12em;
  width: 12em;
  display: inline-block;
  margin: 1em;
}



#pink {
  background: pink;
}
#quidditch {
  background: #990033; 
}

#quaffle {
  background: #3d0099;
}

@keyframes recolor {
  to {background: #99ddff;}
}

div {
  animation: recolor 3s infinite alternate;
}

p {
  font-family: "Raleway";
}
