body {
  background-image: url("https://images.pexels.com/photos/7291789/pexels-photo-7291789.jpeg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}  

div, img {
  height: 15em;
  width: 15em;
  display: inline-block;
  margin: 1em;
}

#pink {
  background: pink;
}

#burgandy {
  background: #990033; 
}

#purple {
  background: #3d0099;
}

@keyframes recolor {
  to {background: #99ddff;}
}

div {
  animation: recolor 3s infinite alternate;
}

p {
  font-family: "Homemade Apple";
}
