body {
  background-image: url("https://images.pexels.com/photos/5328311/pexels-photo-5328311.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    }

div, img {
  height:12em;
  width: 12em;
  display: inline-block;
  margin: 1em;
}
#Green {
  background: green;
}
#Blue {
  background: blue;
}
@keyframes recolor { to
  {background: grey;}
} div
{
  animation: recolor 5s infinite alternate;
}
