body {
  background-image: url ("https://images.pexels.com/photos/3413310/pexels-photo-3413310.jpeg");
    background-size: cover;
    background-repeat:
    background-position: right top;
    back-attachment: fixed;
    }

div, img {
  height:12em;
  width: 12em;
  display: inline-block;
  margin: 1em;
}
#Green {
  background: green;
}
#Blue {
  background: blue;
}
@keyframes recolor { to
  {background: grey;}
} div
{
  animation: recolor 5s infinite alternate;
}
