body {
  background-image: url('https://images.pexels.com/photos/4104006/pexels-photo-4104006.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}


div, img {
  height: 8em;
  width: 12em;
  display: inline-block;
  margin: 1em;
}

#green {
  background: #00ffcc;
}

#blue {
  background: #0099cc;
}

#Hawaii {
  background: #cc99ff;
}


@keyframes recolor {
  to {background: #ff0066;}
}

div {
  animation: recolor 10s 5 alternate;
}

p {
  font-family: "Raleway";
}
